*{
  max-width: 1920px;
  /* margin: 0 auto; */
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Outfit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
